<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Ranashree Collection</title>
    <link rel="stylesheet" href="style.css">

    <style>
    section{
        height: 10vh;
    }
    </style>
</head>
<body>
    <header id="header">
        <nav class="navbar">
            <a class="logo" href="#logo">Ranashree.</a>
            <ul>
                <li><a href="#home" class="active">Home</a> </li>
                <li><a href="about.html">About Us</a> </li>
                <li><a href="blog.html">Blog</a> </li>
                <li><a href="contact.html">Contact Us</a> </li>
            </ul>

            <div class="search">
                <div class="icon"></div>
                <div class="input">
                    <input type="text" name="input" id="mysearch" placeholder="Search" oninput="handleSearchInput()">
                </div>
                <span class="clear" onclick="clearSearch()"></span>
            </div>
            
        </nav>
    </header>

 
    <h2 class="about">About Us</h2>
    <p>
        Welcome to the exquisite world of Ranashree Collection, where tradition meets elegance in every weave. Born out of a passion for preserving and celebrating the timeless beauty of the saree, Ranashree Collection is a curated assemblage of handpicked sarees that embody grace, sophistication, and the rich cultural heritage of India.

        <h3>Our Vision:</h3>
        At Ranashree Collection, we envision weaving stories of grace and tradition through our meticulously curated saree collection. Each saree is a testament to the artistry and craftsmanship that has been passed down through generations, promising to add a touch of timeless charm to every woman's wardrobe.

        <h3>Craftsmanship Unveiled:</h3>
        Our sarees showcase the artistry of skilled craftsmen, weaving tales of tradition and innovation into each intricate pattern and design. From the classic Banarasis to the vibrant Kanjeevarams, every piece at Ranashree Collection is a masterpiece that reflects the diversity of Indian culture.

        <h3>Curated Elegance:</h3>
        Ranashree Collection takes pride in offering a carefully curated selection of sarees, ensuring that each piece tells a unique story of art, culture, and heritage. Whether you're looking for a saree for a special occasion or a timeless piece for your collection, we invite you to explore the beauty and craftsmanship woven into every thread.

        <h3>A Celebration of Womanhood:</h3>
        We believe that every woman is a story waiting to be told, and our sarees are here to be the canvas. Ranashree Collection celebrates the strength, grace, and individuality of women by offering a diverse range of sarees that complement every personality and style.

        <h3>Join the Journey:</h3>
        Embark on a journey through the rich tapestry of Nepali textiles with Ranashree Collection. Discover the allure of tradition and the magic of timeless sarees that transcend generations. Your story, beautifully woven in every drape.
    </p>




    <footer id="footer" role="contentinfo">
        <div class="footer-wrapper">
            <div>
                <a class="logo2" href="#logo">Ranashree.</a>
                <p>+977 9873748380</p>
                <p>ranashree@gmail.com</p>
                <p>Chakrapath, Kathmandu, Nepal</p>
            </div>

            <div class="useful">
                <p>Useful Links</p>
                <p><a href="#home">Home</a></p>
                <p><a href="about.html" target="blank">About Us</a></p>
                <p><a href="blog.html" target="blank">Blog</a></p>
                <p><a href="contact.html" target="blank">Contact Us</a></p>
            </div>

            <div class="social">
                <p>Connect Us</p>
                <!-- <p> <a href="www.facebook.com"></a> </p> -->
            </div>

            
        </div>

        <p class="copy">
            <center>Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | Ranashree Collection</center>
          </p>
    </footer>
    <script src="script.js"></script>
</body>
</html>




    