{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ranashree Sari Collection</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
  
  </head>

  <body>
    <header id="header">
      <nav class="navbar">
        <a class="logo" href="#logo">Ranashree.</a>
        <ul>
          <li><a href="#home" class="active">Home</a></li>

          <!--### The dropdown container ###-->
          <div class="dropdown">
            <li>
              <p class="dropbtn">Pages <i class="fas fa-caret-down"></i></p>
            </li>
            <div class="dropdown-content">
              <ul>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="policy.html">Policy</a></li>
                <li><a href="products.html">Products</a></li>
              </ul>
            </div>
          </div>

          <li><a href="#testimonial">Testimonial</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>

        <div class="header-logo">
          <div>
            <a href="login.html"><img src={% static 'home/images/icons/user-profile.png'%} class="user-logo" alt="user"/></a>
          </div>
          <div>
            <img src={% static "home/images/icons/basket.png"%} class="basket" alt="Cart"/>
          </div>
          <div class="search">
            <div class="icon"></div>
            <div class="input">
              <input
                type="text"
                name="input"
                id="mysearch"
                placeholder="Search"
                required
                autocomplete="off"
                oninput="handleSearchInput()"
              />
            </div>
            <span class="clear" onclick="clearSearch()"></span>
          </div>
        </div>
      </nav>
    </header>

    <section id="home">
      <div class="container">
        <div class="slide">
          <div class="blk">
            <p class="text1">
              Ranashree Sari<br />
              Collection
            </p>
            <p class="text2">
              Indulge in elegance. Embrace tradition. Experience Ranashree
              Collection.
            </p>
            <a href="login.html"><p class="btn">Shop Now</p></a>
          </div>
          <div class="blk">
            <img src={% static "home/images/saris/sari9.jpg"%} class="profile-img" id="profile-img" alt="Profile" 
            />
          </div>
        </div>

        <div class="slide">
          <div class="blk">
            <p class="text1">
              Sale 25% Off <br />
              On Everything
            </p>
            <p class="text2">
              Indulge in elegance. Embrace tradition. Experience Ranashree
              Collection.
            </p>
            <a href="login.html"><p class="btn">Shop Now</p></a>
          </div>
          <div class="blk">
            <img
              src={% static "home/images/saris/sari1.jpg"%}
              class="profile-img"
              id="profile-img"
              alt="Profile"
            />
          </div>
        </div>
        <h2 class="nari-text">-- सारीमा नारी --</h2>
        <img src={% static "home/images/icons/next.png"%} class="prev-btn"/>
        <img src={% static "home/images/icons/back.png"%} class="next-btn"/>
      </div>
      
    </section>
    <br><br><br>
    <div class="dis">
      <img src={% static "home/images/saris/sari12.jpg"%} alt="sari"/>
      <div>
        <p1 class="dis-p1">👉 New Arrivals</p1><br />
        <p2 class="dis-p2"
          >Explore the perfect blend of tradition and trend, and shop with
          confidence for every special occasion. Elevate your style, celebrate
          your culture, and embrace the allure of our stunning sari collection.
          Welcome to a journey where every drape tells a story of sophistication
          and charm.</p2>
        <div>
          <a href="login.html"><p class="dis-btn">Shop Now</p></a>
        </div>
      </div>
    </div>
    
    <h2 class="heads">Feature Products</h2>

    <div class="lan-products">
      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari1.jpg"%} class="lan-img" alt="sari"/>
      </div>
      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari2.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari3.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari4.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari5.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari6.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari7.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari8.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari9.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari10.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari11.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari12.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari13.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari14.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari15.jpg"%} class="lan-img" alt="sari"/>
      </div>

      <div class="lan-images">
        <div>
          <div class="lan-text">Premium Quality</div>
          <p class="lan-text2">Sari Name</p>
          <p class="lan-price">Rs. 5000</p>

          <button class="buy_btn"><a href="#">Buy Now</a></button>
        </div>
        <img src={% static "home/images/saris/sari16.jpg"%} class="lan-img" alt="sari"/>
      </div>

    </div>

    <div>
      <a href="#" class="lan-text3">View All Products</a>
    </div>

    <h2 class="heads">Nepalese Sari: Buy Wide range of Nepalese Sari</h2>
    <div class="short-disc">
      <p class="short-dis">In a world where trends come and go, there's something timeless about the allure of a saree. It's not just a piece of clothing; it's a canvas that tells stories of tradition, craftsmanship, and the rich cultural tapestry. Welcome to the enchanting realm of Ranashree Collection, where each saree is more than just fabric – it's a celebration of artistry, elegance, and the spirit of womanhood. </p>
    </div>


    <!-- <div class="lan-analysis">
      <h2 class="heads">Analysis on Sari Collection Ecommerce</h2>
      <img src={% static "home/images/linegraph.png"%}/>
      <img src={% static "home/images/piechart.png"%}/>
    </div> -->

      <!-- Frequently Asked Questions -->
      <h2 class="heads" id="faq">Frequently Asked Questions</h2>
      <div class="faq">
        <div class="faq-question">
          <p>1. What types of saris are available in your collection?</p></p><br>
          <p>Our sari collection includes a diverse range of styles, fabrics, and designs. You can explore traditional silk saris, modern georgette saris, and everything in between. We strive to offer a wide variety to cater to different tastes and occasions.</p>
        </div>

        <div class="faq-question">
          <p>2. How do I choose the right size for my sari?</p></p><br>
          <p>Saris are generally one-size-fits-all garments, and the length can vary. However, we provide detailed product descriptions, including dimensions, to help you make an informed decision. If you have specific size concerns, feel free to reach out to our customer support for personalized assistance.</p>
        </div>

        <div class="faq-question">
          <p>3. Can I return or exchange a sari if it doesn't meet my expectations?</p></p><br>
          <p>Yes, we have a hassle-free return and exchange policy. If you are not satisfied with your purchase, you can return the sari within a specified timeframe for a refund or exchange. Please review our return policy for more details and steps on how to initiate a return.</p>
        </div>

        <div class="faq-question">
          <p>4. Are the colors of the saris accurately represented on the website?</p></p><br>
          <p>We make every effort to display the colors of our saris as accurately as possible. However, please note that colors may vary slightly due to different monitor settings. If you have specific color concerns, you can contact our customer support for additional information or request fabric swatches.</p>
        </div>

        <div class="faq-question">
          <p>5. Do you offer customization options for the saris, such as blouse stitching or additional embellishments?</p></p><br>
          <p>Currently, we do not offer customization services on our platform. However, we are continuously working to enhance our services, and we appreciate your feedback. If you have specific customization requests, feel free to share them with us, and we will consider them for future improvements.</p>
        </div>

        <div class="faq-question">
          <p>6. How do I care for my sari to ensure its longevity?</p><br>
          <p>Each sari comes with care instructions, which typically include information on washing, ironing, and storing the garment. We recommend following these guidelines to preserve the beauty and quality of your sari. If you have any additional questions about maintenance, our customer support team is available to assist you.</p>
        </div>

      </div>
    
      <div class="client-views" id="testimonial">
        <h2 class="heads">Testimonials</h2>
      </div>


    <footer id="footer" role="contentinfo">
      <div class="footer-wrapper">
        <div class="con-container">
          <p class="logo2">Ranashree.</p>
          <p class="footer-bio">Ranashree Sari Collection offers a curated selection of exquisite saris, blending traditional craftsmanship with contemporary elegance. Embrace the grace of Ranashree – where every sari tells a story of heritage and sophistication.</p><br>
          
          <p style="font-size: 25px;">Contact</p><br>
          <p class="con"><img class="footer-icon1" src={% static "home/images/icons/call.png"%}/> +977 9873748380</p>
          <p class="con"><img class="footer-icon1" src={% static "home/images/icons/gmail.png"%}/> ranashree@gmail.com</p>
          <p class="con"><img class="footer-icon1" src={% static "home/images/icons/location.png"%}/> Chakrapath, Kathmandu, Nepal</p>
        </div>

        <div class="useful">
          <p style="font-size: 25px;">Useful Links</p><br>
          <p><a href="#home">Home</a></p>
          <p><a href="about.html">About</a></p>
          <p><a href="blog.html">Blog</a></p>
          <p><a href="#faq">FAQ</a></p>
          <p><a href="products.html">Products</a></p>
          <p><a href="#testimonial">Testimonial</a></p>
          <p><a href="contact.html">Contact Us</a></p>
          <p><a href="policy.html">R&E Policy</a></p>
        </div>

        <div class="social">
          <p style="font-size: 25px;">Connect with us</p>
        <a href="www.facebook.com"><img class="footer-icon" src={% static "home/images/icons/facebook.png"%}/></a>
        <a href="www.instagram.com"><img class="footer-icon" src={% static "home/images/icons/instagram.png"%}/></a> 
        <a href="www.youtube.com"><img class="footer-icon" src={% static "home/images/icons/youtube.png"%}/></a>
        <a href="www.tiktok.com"><img class="footer-icon" src={% static "home/images/icons/tik-tok.png"%}/></a>

          <p><p style="font-size: 25px;">Payment Methods</p>
            <img class="footer-icon3" src={% static "home/images/icons/esewa.webp"%}/> 
          </p>
          <p style="font-size: 25px;">Happy Shopping</p>

        </div>
      </div>

      
    </footer>

    <p class="copy">
      <center>
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved | Ranashree Collection
      </center>
    </p><br>

    <script src={% static "script.js"%}></script>
  </body>
</html>
