{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Address</title>

    <link rel="stylesheet" href="{% static 'home/all.css' %}"
</head>
<body>
    <section class="section">
    
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="send-data">
            <div>
                <label for="id_name">Full Name:</label>
                <input type="text" id="id_name" name="full_Name" required>
            </div>

            <div>
                <label for="id_description">Description:</label>
                <textarea id="id_description" name="Description" rows="2" cols="40" required></textarea>
            </div>

            <div>
                <label for="id_ldescription">LDescription:</label>
                <textarea id="id_ldescription" name="LDescription" rows="2" cols="40" required></textarea>
            </div>

            <div>
                <label for="id_size">Size:</label>
                <textarea id="id_size" name="Size" rows="2" cols="40" required></textarea>
            </div>

            <div>
                <label for="id_price">Price:</label>
                <input type="text" id="id_price" name="Price" required>
            </div>

            <div>
                <label for="id_image">Image:</label>
                <input type="file" id="id_image" name="Image" accept="image/*" required>
            </div>

                <center><button type="submit" class="add-product">Add</button></center>
          </div>
        </form>
</section>
</body>
</html>