<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return and Exchange Policy</title>
</head>
<body>
    <p>
        <h1>Return and Exchange Policy</h1>
        
        At Ranashree Sari Collection, we want you to be completely satisfied with your purchase. If for any reason you are not satisfied with your order, we offer a hassle-free return and exchange policy.

        <p>Returns</p>

        You may return unworn, unwashed, and undamaged items within 30 days of the delivery date for a full refund.
        All original tags must be attached, and the item must be in its original packaging.
        To initiate a return, please contact our customer service team at 📩ranashree@gmail.com to request a return authorization (RA) number.
        Once your return is approved, you will receive an RA number along with instructions on how to return the item.
        Please note that customers are responsible for return shipping costs unless the return is due to a mistake on our part or a defective item.
    
    
        <p>Exchanges</p>

        If you would like to exchange an item for a different size, color, or style, please contact our customer    service team at [email@example.com] to request an exchange authorization (EA) number.
        Once your exchange is approved, you will receive an EA number along with instructions on how to proceed with the exchange.
        Exchanges are subject to product availability. If the desired item is out of stock, a refund will be issued instead.
    
        <p><Refunds</p>

        Refunds will be processed within 5-7 business days upon receiving the returned item.
        The refund will be issued to the original form of payment.
        Please note that shipping charges are non-refundable unless the return is due to a mistake on our part or a defective item.


        <p>Contact Us</p>
        
        If you have any questions about our return and exchange policy, please contact our customer service team at 📩ranashree@gmail.com. We are here to assist you and ensure your shopping experience with Ranashree Sari Collection is enjoyable and stress-free.


    </p>
</body>
</html>